$primary-color:#0f172a;
$background-color:#ea580c;
$gray-color :#94a3b8;
$white-color: white;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;

    font-family:Roboto;
    a:hover{
color: #ea580c;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.icon{
    
    i{
        border-radius:2px;
        text-align: center;
        padding:8px;
        width:35px;
        background-color: $background-color;
     color: $white-color;
    }
}

.container {
    overflow: hidden;

}

#container{
    // border: 2px solid red;
    z-index:20;
    
    background-color: #f3f4f6;
}




#typing-text {
    white-space: nowrap; /* prevent line break */
    overflow: hidden; /* hide overflow */
}

.typing-animation {
    animation: typing 4s steps(40, end);
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

main{
    // border: 2px solid red;
    text-transform: capitalize;
    font-weight: 800;
    padding:0px 7%;

    // line-height: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;

    p{
        font-size:18px;
        font-weight: 400;

        color: $gray-color;
        // margin-top: ;
    }
    h1{
        font-size: 45px;
        
        margin-top: 25px;
        margin-bottom:30px;
        color: $primary-color;
        
        
    }
button{
    // border:2px solid red;÷
    display: flex;
text-transform: capitalize;
background-color: $background-color;
color:$white-color;
margin-top:25px;
width: 200px;
justify-content: center;
padding:6px;
border-radius:5px;
}
.home-paragraph{
    // border:2px solid red;
    margin-top: -80px;
}

.main-background{
 
    
    // border: 2px solid red;
width: 45%;
height:auto;


.graph{
    width:70%;
    transform: rotate(42deg);
    height:650px;
    margin-top:-20px;
    background-color: #ea580c;
    border-radius:170px;
    margin-left: 130px;
    
}

img{

    position:absolute;
z-index: 10;
width:40%;
// margin-left:120px;
// margin-top: 25px;    
}
}
}


.About-page{
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    padding:5%;

    .right-section{
        border: 2px solid red;
        line-height:2;
        text-transform: capitalize;
        font-family: Roboto;
        width:50%;
        padding: 20px;
        

        
        h1{
            color: #0f172a;
            font-size:35px;
            line-height: 1.2;
          font-weight: bold;
            
        }
        font-size: 18px;
        color: #94a3b8;
    }
    span{
        color: #ea580c;
    }
    .prog{
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
       

        p{
         font-size:16px;
        }

        caption{
            font-size:16px;
        }
    }

    

    


    .left-section{
        // border: 2px solid red;
        width:50%;
        height:500px;

        #img2{
            border:9px solid $white-color;
            width: 300px;
            height: 350px;
 position: absolute;
 top:152%;
 left:30px;
            
        }
        img{
            height:100%;
            width:420px;
            object-fit:cover;
            border-radius: 20px;
        }

    }



}

progress {
    width:98%;
    height:10px;
    border-radius:10px;
    // border:1px solid gray;
 }
 progress::-webkit-progress-bar {
    border-radius: 5px;
    background-color:$white-color;
 }
 progress::-webkit-progress-value {
    background-color:$background-color;
    color: #ea580c;
    border-radius: 5px;
 }
















// Define dark mode styles
.dark-mode {
    background-color: #0f172a; /* Dark background color */
    color: #f3f4f6; /* Light text color */
    h1{
        color: #f3f4f6;
    }
    #container{
        background-color: #0f172a;
    }
    .right-section{
        h1{
            color: #f3f4f6;
        }
    }
}


// Light mode styles
.light-mode {
    background-color: #f3f4f6; /* Light background color */
    color: #1f2937; /* Dark text color */
}
